<% include header %>
	<div class="container">
		<hgroup>
			<h1 class="chapterTitle"><%= title %></h1>
		</hgroup>
		<div class="nav">
			<% if(!prev){ %>
				<a href="/?bookId=<%= bookId %>">上一章</a>
			<% }else{ %>
				<a href="/chapter?bookId=<%= bookId %>&index=<%= prev %>">上一章</a>
			<% } %>
			<% if(!next){%>
				<a href="/?bookId=<%= bookId %>">目录</a>
			<% }else{ %>
				<a href="/chapter?bookId=<%= bookId %>&index=<%= next %>">下一章</a>
			<% } %>
		</div>
		<div class="content"><%- content %></div>
		<div class="nav">
			<% if(!prev){ %>
				<a href="/?bookId=<%= bookId %>">上一章</a>
			<% }else{ %>
				<a href="/chapter?bookId=<%= bookId %>&index=<%= prev %>">上一章</a>
			<% } %>
			<% if(!next){%>
				<a href="/?bookId=<%= bookId %>">目录</a>
			<% }else{ %>
				<a href="/chapter?bookId=<%= bookId %>&index=<%= next %>">下一章</a>
			<% } %>
		</div>
	</div>
<% include footer %>